#!/bin/bash

rosa login --token $ROSA_OFFLINE_ACCESS_TOKEN

rosa create admin --cluster ${ cluster_name } --password $ADMIN_PASSWORD | egrep "\s+oc *" | awk '{print "\{ \"admin-username\": \""$5"\"\}"}' | jq

